# Every path in this repo is reviewed by the maintainer.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*    @avmnu-sng
