--require spec_helper
--format documentation
--exclude-pattern "spec/fixtures/**/*_spec.rb,spec/integration/rails_app_spec.rb,spec/integration/parallel_tests_spec.rb,spec/integration/per_example_dsl_spec.rb,spec/integration/remote_cache_spec.rb,spec/integration/remote_cache_redis_spec.rb"
