--readme README.md
--markup markdown
--output-dir doc/yard
--protected
--exclude lib/rspec_tracer/storage/lazy_snapshot.rb
--exclude lib/rspec_tracer/tracker/io_hooks.rb
-
ARCHITECTURE.md
UPGRADING.md
CHANGELOG.md
ROADMAP.md
COOKBOOK.md
LICENSE
lib/**/*.rb
