article.comment id=dom_id(comment)
  header.meta
    span.author = comment.user.display_name
    span.at = l(comment.created_at, format: :short)
  p.body = comment.body
  = button_to t('comments.destroy'),
              post_comment_path(@post, comment),
              method: :delete,
              data: { confirm: t('comments.destroy_confirm') },
              class: 'button small danger'
