- content_for :title, t('.title', post: @post.title)

h1 = t('.title', post: @post.title)

section.comments
  - if @comments.any?
    = render @comments
  - else
    p.empty = t('.empty')

section.new-comment
  h2 = t('.add_comment')
  = form_with model: @post.comments.build, url: post_comments_path(@post), local: true do |f|
    .field
      = f.label :user_id
      = f.collection_select :user_id, User.order(:name), :id, :display_name
    .field
      = f.label :body
      = f.text_area :body, required: true, rows: 3
    = f.submit
