name: jruby-ruby-project

on:
  push:
    branches: [ 'main' ]
  pull_request:

concurrency:
  group: ${{ github.event_name == 'pull_request' && github.head_ref || github.ref }}-jruby-ruby
  cancel-in-progress: true

jobs:
  main:
    name: ${{ matrix.ruby }} rspec-${{ matrix.rspec }} simplecov-${{ matrix.simplecov }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby: [ 'jruby-9.2.10.0', 'jruby-9.2.14.0', 'jruby-9.2.19.0', 'jruby-9.3.0.0', 'jruby-head' ]
        rspec: [ '3.10.0' ]
        simplecov: [ '0.21.0' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Install Dependencies
        run:  bundle install --jobs 3 --retry 3

      - name: Run Features for Ruby Project
        env:
          RSPEC_VERSION: "~> ${{ matrix.rspec }}"
          SIMPLECOV_VERSION: "~> ${{ matrix.simplecov }}"
        run: JRUBY_OPTS="--debug -X+O" bundle exec cucumber --retry 3 --no-strict-flaky --tags @ruby-app
